<div class="card">
  <div class="card-body">
    <h4 class="mb-32">Deletar Área</h4>
    <form>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-card-title> Deseja realmente deletar a área {{AreaGet.name}} ?</mat-card-title>
      </mat-form-field>
      <button mat-raised-button color="warn"color="warn" (click)="delete()" type="submit">Deletar</button>
      <button mat-button class="btn btn-info fw-normal" (click)="back()" type="submit">Cancelar</button>
    </form>
  </div>
</div>
